<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simpler</title>

    <style>
        li[disabled] {
            pointer-events: none;
            opacity: 0.5;
        }
    </style>
</head>
<body>
    <h1>
        <a href="{{ url_for('index') }}">Simpler</a>
    </h1>
    
    {% for taskgroup in taskgroups %}
    {{ taskgroup.name }}
    
    <form action="{{ url_for('add_task') }}" method="post">
        <input type="text" name="task" id="">
        <input type="submit" value="Add">
        <input type="hidden" name="taskgroup_id" value="{{ taskgroup.id }}">
    </form>

    {% set index0 = loop.index0 %}

    <ul>
        {% if edit_index is defined or adduser_index is defined %}
            {% for todo in taskgroup.tasks %}
                <!-- TODO: update adduser function -->
                <li style="display: flex">

                {% if edit_index is defined %}

                    {% if edit_index[0] == index0 and loop.index0 == edit_index[1] %}
                    <form action="{{ url_for('save_task') }}" method="post">
                        <input type="checkbox" name="done" {% if todo['done'] %} checked {% endif %}>
                        <input type="hidden" name="done" value="not done">
                        <input type="hidden" name="id" value="{{ todo.id }}">
                        <input type="text" name="task" id="" value="{{ todo['task'] }}">
                        <input type="submit" value="Save">
                    </form>
    
                    <a href="{{ url_for('index') }}">Cancel</a>
    
                    <form action="{{ url_for('delete_task') }}" method="post">
                        <input type="submit" value="Delete">
                        <input type="hidden" name="id" value="{{ todo.id }}">
                    </form>
                    
                    assignee:
                    {% for user in todo.users|sort(attribute="name") %}
                    {{ user.name }}
                    {% endfor %}
    
                    <form action="{{ url_for('add_user', index0=index0, index=loop.index0) }}" method="get">
                        <input type="submit" value="Add user">
                        <input type="hidden" name="id" value="{{ todo.id }}">
                    </form>

                    {% else %}
                    <!-- disabled elements -->
                    <li style="display: flex" disabled>
                        <form action="{{ url_for('check_task') }}" method="post">
                            <input type="checkbox" name="check" onchange="this.form.submit()" {% if todo['done'] %} checked {% endif %}>
                            <input type="hidden" name="done" value="not done">
                        
                        </form>

                        <text {% if todo['done'] %} style="text-decoration: line-through" {% endif %}>
                            {{ todo['task'] }}                
                        </text>

                        <form action="{{ url_for('edit_task', index0=index0, index=loop.index0) }}" method="get">
                            <input type="submit" value="Edit">
                            <input type="hidden" name="id" value="{{ todo.id }}">
                        </form>
        
                        <form action="{{ url_for('delete_task') }}" method="post">
                            <input type="submit" value="Delete">
                            <input type="hidden" name="id" value="{{ todo.id }}">
                        </form>
                        assignee:
                        {% for user in todo.users|sort(attribute="name") %}
                        {{ user.name }}
                        {% endfor %}
        
                        <form action="{{ url_for('add_user', index0=index0, index=loop.index0) }}" method="get">
                            <input type="submit" value="Add user">
                            <input type="hidden" name="id" value="{{ todo.id }}">
                        </form>

                    </li>

                    {% endif %}
                
                {% endif %}

                {% if adduser_index is defined %}
                    {% if adduser_index[0] == index0 and adduser_index[1] == loop.index0 %}
                    <form action="{{ url_for('check_task') }}" method="post">
                        <input type="checkbox" name="check" onchange="this.form.submit()" {% if todo['done'] %} checked {% endif %}>
                        <input type="hidden" name="done" value="not done">
                        <input type="hidden" name="id" value="{{ todo.id }}">
    
                    </form>
    
                    <text {% if todo['done'] %} style="text-decoration: line-through" {% endif %}>
                        {{ todo['task'] }}                
                    </text>
    
                    <form action="{{ url_for('edit_task', index0=index0, index=loop.index0) }}" method="get">
                        <input type="submit" value="Edit">
                        <input type="hidden" name="id" value="{{ todo.id }}">
                    </form>
    
                    <form action="{{ url_for('delete_task') }}" method="post">
                        <input type="submit" value="Delete">
                        <input type="hidden" name="id" value="{{ todo.id }}">
                    </form>
    
                    assignee:
                    {% for user in todo.users|sort(attribute="name") %}
                    {{ user.name }}
                    {% endfor %}
                    
                    <!-- add user inputs -->
                    <form action="{{ url_for('save_user') }}" method="post">
                        <input type="text" name="name" id="">
                        <input type="submit" value="v">
                        <input type="hidden" name="id" value="{{ todo.id }}">
                        
                    </form>
                    <a href="{{ url_for('index') }}">x</a>

                    {% else %}
                    <!-- disabled elements -->
                    <li style="display: flex" disabled>
                        <form action="{{ url_for('check_task') }}" method="post">
                            <input type="checkbox" name="check" onchange="this.form.submit()" {% if todo['done'] %} checked {% endif %}>
                            <input type="hidden" name="done" value="not done">
                        
                        </form>

                        <text {% if todo['done'] %} style="text-decoration: line-through" {% endif %}>
                            {{ todo['task'] }}                
                        </text>

                        <form action="{{ url_for('edit_task', index0=index0, index=loop.index0) }}" method="get">
                            <input type="submit" value="Edit">
                            <input type="hidden" name="id" value="{{ todo.id }}">
                        </form>
        
                        <form action="{{ url_for('delete_task') }}" method="post">
                            <input type="submit" value="Delete">
                            <input type="hidden" name="id" value="{{ todo.id }}">
                        </form>
                        assignee:
                        {% for user in todo.users|sort(attribute="name") %}
                        {{ user.name }}
                        {% endfor %}
        
                        <form action="{{ url_for('add_user', index0=index0, index=loop.index0) }}" method="get">
                            <input type="submit" value="Add user">
                            <input type="hidden" name="id" value="{{ todo.id }}">
                        </form>

                    </li>

                    {% endif %}
                {% endif %} 
                </li>

            {% endfor %}

        {% else %}

            {% for todo in taskgroup.tasks %}
            <li style="display: flex">
                <form action="{{ url_for('check_task') }}" method="post">
                    <input type="checkbox" name="check" onchange="this.form.submit()" {% if todo['done'] %} checked {% endif %}>
                    <input type="hidden" name="done" value="not done">
                    <input type="hidden" name="id" value="{{ todo.id }}">
                    
                </form>

                <text {% if todo['done'] %} style="text-decoration: line-through" {% endif %}>
                    {{ todo['task'] }}                
                </text>

                <text></text>
                <form action="{{ url_for('edit_task', index0=index0, index=loop.index0) }}" method="get">
                    <input type="submit" value="Edit">                    
                    <input type="hidden" name="id" value="{{ todo.id }}">
                </form>

                <form action="{{ url_for('delete_task') }}" method="post">
                    <input type="submit" value="Delete">
                    <input type="hidden" name="id" value="{{ todo.id }}">
                </form>
                assignee:
                {% for user in todo.users|sort(attribute="name") %}
                {{ user.name }}
                {% endfor %}

                <form action="{{ url_for('add_user', index0=index0, index=loop.index0) }}" method="get">
                    <input type="submit" value="Add user">
                    <input type="hidden" name="id" value="{{ todo.id }}">
                </form>

            </li>
            
            {% endfor %}
        {% endif %}
        
    </ul>
    {% endfor %}

    <h3>Users</h3>
    <ul>
       {% for user in users %} 
        <li style="display: flex">
            {{ user.name }}
        
             <form action="{{ url_for('delete_user') }}" method="post">
                <input type="submit" value="Delete">
                <input type="hidden" name="id" value="{{ user.id }}">
             </form>
        </li>
       {% endfor %}
    </ul>

</body>
</html>